<center>
    <form action="Payroll/Insert" method="POST">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <table>
                        <tr>
                            <td><label>User ID</label></td>
                            <td><input type="text" name="pay_id" id="pay_id" placeholder="Date Range" class="form-control" required readonly /></td>
                        </tr>
                        <tr>
                            <td><label>Date Range</label></td>
                            <td><input type="text" name="pay_dates" id="pay_dates" placeholder="Choose Date Range" class="form-control" required readonly /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" role="button" class="btn btn-success form-control">Generate Payslip</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</center>
