@{
    ViewBag.Title = "Change PIN";
    if (TempData["message"] != null)
    {
        if (TempData["message"].ToString().Equals("Insert Successfully") ||
            TempData["message"].ToString().Equals("Successfully Deleted") ||
             TempData["message"].ToString().Equals("Updated Successfully"))
        {
            <div class="dialog-success">
                <strong><span class="glyphicon glyphicon-ok"></span> </strong> <span>@TempData["message"]</span>
            </div>
        }
        else
        {
            <div class="dialog-error">
                <strong><span class="glyphicon glyphicon-remove"></span> </strong> <span>@TempData["message"]</span>
            </div>
        }
    }
}
<div class="card-view">
    <h3>Change PIN</h3>
    <div class="row margin-top">
        <div class="col-md-4">
            @using (Html.BeginForm("ChangePin", "User", FormMethod.Post))
            {
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td class="col-sm-2"><strong>Old PIN</strong></td>
                            <td class="col-sm-1">: </td>
                            <td class="col-sm-4">
                                <input type="password" name="oldpin" class="inline form-control input-pin"/>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-sm-2"><strong>New PIN</strong></td>
                            <td class="col-sm-1">: </td>
                            <td class="col-sm-4">
                                <input type="password" name="newpin" class="inline form-control input-pin" />
                            </td>
                        </tr>

                        <tr>
                            <td class="col-sm-2"><strong>Confirm PIN</strong></td>
                            <td class="col-sm-1">: </td>
                            <td class="col-sm-4">
                                <input type="password" name="confirmpin" class="inline form-control input-pin" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-2"></td>
                            <td class="col-sm-1"></td>
                            <td class="col-sm-4">
                                <center>
                                    <button type="submit">SAVE</button>
                                </center>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    </div>
</div>