@{
    ViewBag.Title = "DOHRO7 PAYROLL";
}
<div class="row card-view">
    <div class="col-md-4">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Personnel Information</legend>
            <div class="form-group">
                <label>Personnel ID</label>
                <select class="form-control">
                    @for (var i = 1; i <= 10; i++)
                    {
                        <option>@(int.Parse("121223388") + i)</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <label class="form-control" disabled></label>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <label class="form-control" disabled></label>
            </div>
            <div class="form-group">
                <label>Middle Name</label>
                <label class="form-control" disabled></label>
            </div>
        </fieldset>
    </div>
    <div class="col-md-8">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Loans</legend>
            <div class="form-group">
                <label>Pag-Ibig</label>
                <label class="form-control" disabled></label>
            </div>
            <div class="form-group">
                <label>PhilHealth</label>
                <label class="form-control" disabled></label>
            </div>
            <div class="form-group">
                <label>SSS</label>
                <label class="form-control" disabled></label>
            </div>
        </fieldset>
    </div>
</div>


<div class="row card-view">
    <div class="col-md-6">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Salary</legend>
            <div class="col-md-6">
                <div class="form-group">
                    <label># Work Days</label>
                    <label class="form-control" disabled></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Basic Rate</label>
                    <label class="form-control" disabled></label>
                </div>
                <div class="form-group">
                    <label>Total</label>
                    <label class="form-control" disabled></label>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">OT Hrs. / Day</legend>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Reg. OT</label>
                    <label class="form-control" disabled></label>
                </div>
                <div class="form-group">
                    <label>Sun. OT</label>
                    <label class="form-control" disabled></label>
                </div>
                <div class="form-group">
                    <label>Hol. Pay</label>
                    <label class="form-control" disabled></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Allowance</label>
                    <label class="form-control" disabled></label>
                </div>
                <div class="form-group">
                    <label>Incentives</label>
                    <label class="form-control" disabled></label>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <input type="submit" value="Generate Payroll" class="btn btn-success col-lg-5 col-lg-offset-5 col-sm-5 col-sm-offset-5 col-xs-5 col-xs-offset-5 col-md-5 col-md-offset-5 margin-top" />
</div>
